.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: sticky;  /* Para que se quede arriba al hacer scroll */
    top: 0; 
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    gap: 80px;
}

.navbar-item-link {
    font-size: 1.6em;
    font-weight: 700;
    color: var(--primary-green); 
    position: relative;
    transition: color 0.9s ease;
}

.navbar-item-link:hover {
    color: var(--white);
}

.navbar-item-link.active {
    color: var(--primary-green); 
    font-weight: bold;
}

.navbar-item-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: var(--primary-green);
    border-radius: 2px;
}

.navbar-logo-text {
   font-size: 1.2em;
    font-weight: 700;
    margin-left: 5px; 
    color: var(--primary-green); /* Color verde para el texto del logo */
}

.navbar-logo-gmtc {
    font-weight: bold;
    color: var(--primary-green); 
    margin-left: 40px;
}

.navbar-btn {
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: 500;
}

.navbar-btn.outline {
    background-color: transparent;
    border: 1px solid var(--border-light-grey);
    color: var(--white);
    padding: 20px 50px;
    margin-left: 90px;
}

.navbar-btn.outline:hover {
    border-color: var(--primary-green);
    color: var(--primary-green);
}

.navbar-btn.primary {
    background-color: var(--primary-green);
    color: var(--white);
    padding: 20px 50px;
}

.navbar-btn.primary:hover {
    background-color: var(--dark-green);
}

.navbar-search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: fill 0.3s ease;
    margin-left: 20px;
}

.navbar-search-btn:hover svg {
    fill: var(--primary-green);
}

@media (max-width: 900px) {
    .navbar-left {
        gap: 10px;
    }
    .navbar-right {
        gap: 10px;
    }
    .navbar-item-link {
        font-size: 0.85em;
    }
    .navbar-btn {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    .navbar-left {
        flex-wrap: wrap; 
        justify-content: center;
        gap: 8px;
    }
    .navbar-right {
        flex-direction: column; 
        gap: 5px;
    }
    .navbar-btn {
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .navbar-item-link {
        font-size: 0.9em;
    }
    .navbar-logo-text {
        font-size: 1em;
    }
    .navbar-logo-gmtc {
        margin-left: 0;
    }
}